apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: game-2048
  name: game-2048
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: game-2048
  replicas: 4
  template:
    metadata:
      labels:
        app.kubernetes.io/name: game-2048
    spec:
      containers:
        - image: alexwhen/docker-2048
          imagePullPolicy: Always
          name: game-2048
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  namespace: game-2048
  name: game-2048
spec:
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: web
  type: ClusterIP
  selector:
    app.kubernetes.io/name: game-2048
